       .body {
            font-family: "Times New Roman", serif;
            font-size: 14px;
            line-height: 1.6;
            margin: 20px;
        }

        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
        }

        .character {
            margin-bottom: 50px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 30px;
        }

        .character img {
            display: block;
            margin: 0 auto;
            max-width: 300px;
            height: auto;
        }

        .character h2 {
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-top: 15px;
        }

        .character p {
            text-align: justify;
        }

        .h1 {
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 40px;
        }
